.title {
    opacity: 0;
    animation: fadeSlideIn 1.2s ease forwards;
    font-size: 60px;
    line-height: 80px;
    padding-left: 3rem;
}

.titlename {
    color: #0091ca;
    font-size: 50px;
    position: relative;
    display: inline-block;
}

.titlename:hover {
    color: #0091ca;
    text-decoration: none;
}

.titlename::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 5px;
    width: 0;
    background-color: #0091ca;
    animation: underlineGrow 1.2s ease forwards;
    animation-delay: 0.2s;
}

@keyframes underlineGrow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
