.SaverSubs {
  width: 504px;
  height: auto;
  padding-left: 49.05rem;
  padding-bottom: 0rem;
}
 
.sectiontext1 {
  outline-color: black;
  border-color: black;
  border-style: solid;
  padding-left: 20px;
}



.font-face-gm {
  font-family: "Railway";
}

.textthing {
  color: black;
}
