.sectiontext1 {
  outline-color: black;
  border-color: black;
  border-style: solid;
  padding-left: 20px;
}

body {
  font-family: "Share Tech", sans-serif;
}

main {
  background-color: #FFEBD0;
}

.font-face-gm {
  font-family: "Railway";
}

.textthing {
  color: rgb(0, 0, 0);
}


