.footer {
    background-color: #FFEBD0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Even spacing between sections */
    align-items: center; /* Vertically align text */
    flex-wrap: wrap; /* Wrap items if needed */
}

.footer div {
    flex: 1; /* Makes each section take equal space */
    text-align: center; /* Ensures text inside each section is centered */
}


.footer h2 {
    width: 8000px;
    margin-bottom: 20px; /* Space below the heading */
    font-weight: 900;
}

.footer a {
    margin: 5px 0;
    font-size: 18px;
    background-color: RGB(0, 156, 156);
    border-radius: 8px;
    width: 100px;
    color: white;
    font-weight: 800;
    padding: 1rem 1rem;
}

.footer a:hover {
    color: white;
    background-color: #005b5b;
}

.footer h4 {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


