header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    height: 80px;
    width: 100%; /* Makes the header span full width */
    position: relative;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  
  
  header .logo {
    font-size: 10px;
  }

  .title {
    font-size: xx-small;
  }

  header nav {
    display: flex;
    gap: 1rem;
  }
  
  header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  header nav a:hover {
    color: #61dafb;
  }
  